.cards {
  list-style: none;
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

@media screen and (max-width: 1439px) {
  .cards {
    justify-content: space-around;
  }
}

/* @media screen and (max-width: 1040px) {
  .cards {
    justify-content: space-around;
  }
}

@media screen and (max-width: 850px) {
  .cards {
    justify-content: space-around;
  }
} */