.logo {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  text-decoration: none;
}

.logo_theme_black {
  color: #000;
}

.logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .logo {
    font-size: 16px;
  }
}