.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list :last-child{
  margin-right: 0;
}

.social-list__item {
  margin-right: 28px;
}

@media screen and (max-width: 850px) {
  .social-list__item {
    margin-right: 26px;
  }  
}