.news {
  background-color: #F5F6F7;
  padding: 80px 104px 62px;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: fit-content(1232px);  
}

.news__title {
  margin: 0 0 64px;
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.news__button {
  margin-top: 60px;
  padding: 20px 84px;  
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 80px;
  /* grid-column: 1;
  grid-row: 3; */
  justify-self: center;
  border: 0;
  color: #1A1B22;
  background: #fff;
  transition: opacity .15s linear;
}

.news__button:hover {
  cursor: pointer;
  opacity: .9;
}

.news__button:focus {
  outline: none;
}

.news__button:active {

} 

@media screen and (max-width: 850px) {
  .news {
    padding: 40px;
  }
  .news__button {
    margin-top: 22px;
  }
  .news__title {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 650px) {
  .news__title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 24px;
    padding-right: 20px;
  }
  .news {
    padding: 32px 16px;
  }
}